div(class='header clearfix')
			a(class="logo fl" href="/") EnjoyRead
			ul(class="nav fr")
				li
					a(href="#") 指南
				li
					if uid
						a(href="/setting") 设置
					else 
						a(href="/login") 登陆
				if uid
					li(class="logout") 登出
				li 	
					a(href="#") 关于