doctype html
html(lang="en")
	head
		tilte= index		
		meta(chartset="UTF-8")
		link(href="/global.css" rel="stylesheet" type="text/css")
		link(href="/index.css" rel="stylesheet" type='text/css')
		link(href="/header.css" rel="stylesheet" type='text/css')
		script(src="/requireJs.js" type="text/javascript" data-main="/header")
		
	body
		include header.jade
					
		div(class="wrap #{uid}")
			div(class="wrap_box")
				div(class="wrap_content") 
					p(class="slogan") 享受阅读带来的快乐
					a(class="start" href="/quickstart") 快速开始






