
doctype html
html(lang="en")
	head
		tilte= index		
		meta(chartset="UTF-8")
		link(href="/global.css" rel="stylesheet" type="text/css")
		link(href="/index.css" rel="stylesheet" type='text/css')

		
	body
		div(class='header clearfix')
			a(class="logo fl" href="#") EnjoyRead
			ul(class="nav fr")
				li
					a(href="#") 指南
				li
					a(href="#") 登陆
				li 	
					a(href="#") 关于
					
		div(class="wrap #{uid}")
			div(class="wrap_box")
				div(class="wrap_content") 
					p(class="slogan") 享受阅读带来的快乐
					a(class="start" href="#") 快速开始






