
doctype html
html(lang="en")
	head
		tilte= 登陆		
		meta(chartset="UTF-8")
		link(href="/global.css" rel="stylesheet" type="text/css")
		link(href="/login.css" rel="stylesheet" type='text/css')


		
	body
		div(class="blankH60")
		div(class="login_box")
			a(class="login_logo" href="#") EnjoyRead
			div(class="mail clearfix")
				div(class="mail_logo")
				input(type="text" class="mail_input" placeholder="请输入您的邮箱")
			div(class="mail_error")
			div(class="password clearfix")
				div(class="password_logo")
				input(type="password" class="password_input" placeholder="请输入您的密码")
			div(class="password_error")
			div(class="login_select clearfix")
				input(type="checkbox" checked="checked" id="login_auto" class="fl")
				label(class="fl" for="login_auto") 自动登陆
				a(href="#" class="forget_password fr") 忘记密码？
				a(href="#" class="reg_btn fr") 立即注册
			input(type="button" class="login_btn" value="登陆")
			div(class="blankH24")
			div(class="title") 使用第三方登陆
			ul(class="list clearfix")
				li
					a(class="weibo" href="#")
				li 
					a(class="qq" href="#")






