doctype html
html(lang="en")
	head
		tilte= quickstart		
		meta(chartset="UTF-8")
		link(href="/global.css" rel="stylesheet" type="text/css")
		link(href="/header.css" rel="stylesheet" type='text/css')
		link(href="/quickstart.css" rel="stylesheet" type='text/css')
		script(src="/requireJs.js" type="text/javascript" data-main="/header")
		
	body
		include header.jade

		div(class="guide")
			div(class="blankH20")
			div(class="guide_pic clearfix")
				div(class="guide_pic_number fl active") 1
				div(class="guide_pic_line fl")
				div(class="guide_pic_number fl") 2
				div(class="guide_pic_line fl")
				div(class="guide_pic_number fl") 3


					






