doctype html
html(lang="en")
	head
		tilte= quickstart		
		meta(chartset="UTF-8")
		link(href="/global.css" rel="stylesheet" type="text/css")
		link(href="/header.css" rel="stylesheet" type='text/css')
		link(href="/quickstart.css" rel="stylesheet" type='text/css')
		link(href="/font-awesome.min.css" rel="stylesheet" type='text/css')
		script(src="/requireJs.js" type="text/javascript" data-main="/quickstart")
		
	body
		include header.jade

		div(class="guide #{uid}")
			div(class="blankH20")
			div(class="guide_pic clearfix")
				div(class="guide_pic_number fl") 1
				div(class="guide_pic_line fl")
				div(class="guide_pic_number fl") 2
				div(class="guide_pic_line fl")
				div(class="guide_pic_number fl") 3
			div(class="guide_title clearfix")
				div(class="guide_title_one fl")	填写常用邮箱
				div(class="guide_title_two fl") 选择感兴趣的标签
				div(class="guide_title_three fr") 配置可信邮箱
			div(class="blankH20")
			div(class="guide_content")
				ul(class="guide_content_ul clearfix")
					li(class="guide_step_one")
						div(class="guide_content_title") 填写常用邮箱
						div(class="guide_content_explain")										根据您填写的常用邮箱，系统会快速帮助您注册账号，之后会将密码发送	到您填写的这个邮箱，请注意查收。同时，我们以后会将产品的相关信息	都通过这个邮箱发送给您。
						div(class="blankH20")
						input(class="guide_input" type="text")
						div(class="guide_error") 
						a(class="guide_next" href="javascript:void(0)") 下一步
					li(class="guide_step_two")
						div(class="guide_back icon-reply" title="返回上一步")
						div(class="guide_content_title") 选择感兴趣的标签
						div(class="guide_content_explain")										选择您感兴趣的标签，以后我们将根据您的设置来推送您感兴趣的内容，	所以请多选择几个
						div(class="blankH20")
						ul(class="guide_checkbox clearfix")
							li
								input(type="checkbox" id="2")
								label(for="2") 新浪新闻
									img(src="/tab.png")
							li
								input(type="checkbox" id="3")
								label(for="3") 百度新闻
									img(src="/tab.png")
						div(class="guide_error_two") 请至少选择一个标签
						a(class="guide_next" href="javascript:void(0)") 下一步
					li(class="guide_step_three")
						div(class="guide_back icon-reply" title="返回上一步")
						div(class="guide_content_title") 配置可信邮箱
						div(class="guide_content_explain")	请在
							a(href="http//:z.cn") 亚马逊
							中设置可信邮箱,并且我们已经为您创建好了带默认密码的账户，您可以通过该账户来进行更多的服务设置，请点击下方的完成按钮将跳转到设置页面
						div(class="blankH60")
						a(class="guide_done" href="#") 完 成





					






