doctype html
html(lang="en")
	head
		tilte= quickstart		
		meta(chartset="UTF-8")
		link(href="/global.css" rel="stylesheet" type="text/css")
		link(href="/header.css" rel="stylesheet" type='text/css')
		link(href="/setting.css" rel="stylesheet" type='text/css')
		link(href="/font-awesome.min.css" rel="stylesheet" type='text/css')
		script(src="/requireJs.js" type="text/javascript" data-main="/setting")
		
	body
		include header.jade

		div(class="wrap")
			div(class="div1") 00000
			div(class="div2") 11111
			div(class="div3") 22222

			a(class="left" href="javascript:void(0);")
			a(class="right" href="javascript:void(0);")




		





					






