doctype html
html(lang="en")
	head
		tilte= quickstart		
		meta(chartset="UTF-8")
		link(href="/global.css" rel="stylesheet" type="text/css")
		link(href="/header.css" rel="stylesheet" type='text/css')
		link(href="/setting.css" rel="stylesheet" type='text/css')
		link(href="/font-awesome.min.css" rel="stylesheet" type='text/css')
		script(src="/requireJs.js" type="text/javascript" data-main="/setting")
		
	body
		include header.jade

		div(class="wrap #{uid}")
			div(class="div1") 
				div(class="wrap_box smaller") 修改设置
			div(class="div2") 
				div(class="wrap_box")
					div(class="change_password_title") 修改密码
					div(class="blankH20")
					div(class="change_row clearfix")
						div(class="change_row_contL fl") 原密码
						div(class="change_row_cotnR fr")
							input(class="present_input" type="password")
							div(class="change_error")
					div(class="change_row clearfix")
						div(class="change_row_contL fl") 新密码
						div(class="change_row_cotnR fr")
							input(class="present_input" type="password")
							div(class="change_error")
					div(class="change_row clearfix")
						div(class="change_row_contL fl") 再次输入
						div(class="change_row_cotnR fr")
							input(class="present_input" type="password")
							div(class="change_error")
					a(href="javascript:void(0);" class="change_password_btn") 提交


			div(class="div3") 
				div(class="wrap_box smaller") 待定
			a(class="left" href="javascript:void(0);")
			a(class="right" href="javascript:void(0);")




		





					






