@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/quickstart\.less}line{font-family:\000033}}
body {
  background-image: url(/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/quickstart\.less}line{font-family:\000038}}
.guide {
  width: 600px;
  height: 90px;
  background: rgba(255, 255, 255, 0.6);
  margin: 30px auto 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/quickstart\.less}line{font-family:\0000314}}
.guide_pic {
  width: 490px;
  height: 30px;
  margin: 0 auto;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/quickstart\.less}line{font-family:\0000320}}
.guide_pic_number {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  background: #999;
  color: #FFF;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/quickstart\.less}line{font-family:\0000330}}
.guide_pic_line {
  width: 200px;
  height: 4px;
  background: #999;
  margin-top: 13px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/quickstart\.less}line{font-family:\0000336}}
.guide_pic .active {
  background: #8c5f02;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/quickstart\.less}line{font-family:\0000339}}
.guide_title {
  width: 100%;
  height: 40px;
  line-height: 30px;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/quickstart\.less}line{font-family:\0000345}}
.guide_title_one {
  width: auto;
  margin: 0 40px 0 25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/quickstart\.less}line{font-family:\0000349}}
.guide_title_two {
  width: auto;
  margin: 0 0 0 90px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/quickstart\.less}line{font-family:\0000353}}
.guide_title_three {
  width: auto;
  margin: 0 25px 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/quickstart\.less}line{font-family:\0000357}}
.guide_content {
  width: 600px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background: rgba(255, 255, 255, 0.6);
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/quickstart\.less}line{font-family:\0000365}}
.guide_content_ul {
  width: 1800px;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/quickstart\.less}line{font-family:\0000372}}
.guide_step_one {
  width: 500px;
  height: 400px;
  padding: 0 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/quickstart\.less}line{font-family:\0000377}}
.guide_step_two {
  width: 500px;
  height: 400px;
  padding: 0 50px;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/quickstart\.less}line{font-family:\0000383}}
.guide_step_three {
  width: 500px;
  height: 400px;
  padding: 0 50px;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/quickstart\.less}line{font-family:\0000389}}
.guide_content_title {
  width: 100%;
  height: 100px;
  line-height: 100px;
  font-size: 24px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/quickstart\.less}line{font-family:\0000396}}
.guide_content_explain {
  text-indent: 2em;
  width: 100;
  height: auto;
  line-height: 32px;
  font-size: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/quickstart\.less}line{font-family:\00003103}}
.guide_input {
  width: 274px;
  height: 20px;
  border: 1px solid #333;
  font-size: 18px;
  padding: 10px 12px;
  display: block;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/quickstart\.less}line{font-family:\00003112}}
.guide_error {
  width: 300px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #cc3333;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/quickstart\.less}line{font-family:\00003120}}
.guide_next {
  width: 120px;
  height: 40px;
  line-height: 40px;
  display: block;
  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
  background: #8c5f02;
  color: #FFF;
  cursor: pointer;
  font-size: 16px;
  transition: 0.8s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/quickstart\.less}line{font-family:\00003134}}
.guide_next:hover {
  background: rgba(140, 95, 2, 0.8);
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/quickstart\.less}line{font-family:\00003137}}
.guide_checkbox {
  display: block;
  width: 408px;
  height: 120px;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/quickstart\.less}line{font-family:\00003143}}
.guide_checkbox li {
  width: auto;
  height: auto;
  margin: 0 40px 19px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/quickstart\.less}line{font-family:\00003148}}
.guide_checkbox input {
  width: 16px;
  height: 16px;
  position: relative;
  top: 2px;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/quickstart\.less}line{font-family:\00003155}}
.guide_checkbox label {
  font-size: 16px;
  margin-left: 12px;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/quickstart\.less}line{font-family:\00003160}}
.guide_error_two {
  width: 408px;
  height: 20px;
  font-size: 16px;
  color: #cc3333;
  margin: 0 auto;
  margin-bottom: 19px;
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/quickstart\.less}line{font-family:\00003169}}
.guide_content_explain a {
  color: #8c5f02;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/quickstart\.less}line{font-family:\00003172}}
.guide_done {
  width: 120px;
  height: 40px;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  background: #8c5f02;
  color: #FFF;
  cursor: pointer;
  font-size: 16px;
  transition: 0.8s;
  text-align: center;
  line-height: 40px;
  color: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/quickstart\.less}line{font-family:\00003187}}
.guide_done:hover {
  background: rgba(140, 95, 2, 0.8);
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/quickstart\.less}line{font-family:\00003190}}
.guide_back {
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
  opacity: 0.3;
  transition: 0.3s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/quickstart\.less}line{font-family:\00003200}}
.guide_back:hover {
  transform: scale(1.5);
  opacity: 1;
}
