@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/register\.less}line{font-family:\000033}}
body {
  background-image: url(/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/register\.less}line{font-family:\000038}}
.register_box {
  width: 500px;
  height: 540px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.6);
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/register\.less}line{font-family:\0000315}}
.register_logo {
  display: block;
  color: #FFF;
  width: 100%ï¼›
	height:50px;
  line-height: 50px;
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/register\.less}line{font-family:\0000325}}
.mail {
  width: 400px;
  height: 40px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  margin-top: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/register\.less}line{font-family:\0000333}}
.mail_logo {
  width: 24px;
  height: 24px;
  background: #8c5f02;
  position: absolute;
  top: 9px;
  left: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/register\.less}line{font-family:\0000341}}
.mail_input {
  display: block;
  width: 338px;
  height: 18px;
  line-height: 18px;
  font-size: 16px;
  border: 1px solid #333;
  padding: 10px 12px 10px 48px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/register\.less}line{font-family:\0000350}}
.mail_error {
  width: 400px;
  height: 40px;
  line-height: 40px;
  color: #cc3333;
  font-size: 16px;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/register\.less}line{font-family:\0000358}}
.password {
  width: 400px;
  height: 40px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/register\.less}line{font-family:\0000365}}
.password_logo {
  width: 24px;
  height: 24px;
  background: #8c5f02;
  position: absolute;
  top: 9px;
  left: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/register\.less}line{font-family:\0000373}}
.password_input {
  display: block;
  width: 338px;
  height: 18px;
  line-height: 18px;
  font-size: 16px;
  border: 1px solid #333;
  padding: 10px 12px 10px 48px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/register\.less}line{font-family:\0000382}}
.password_error {
  width: 400px;
  height: 40px;
  line-height: 40px;
  color: #cc3333;
  font-size: 16px;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/register\.less}line{font-family:\0000390}}
.register_select {
  width: 400px;
  height: 40px;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/register\.less}line{font-family:\0000395}}
#register_auto {
  margin: 5px 6px 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/register\.less}line{font-family:\0000398}}
.register_select label {
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/register\.less}line{font-family:\00003101}}
.reg_btn {
  margin-right: 5px;
  color: #333;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/register\.less}line{font-family:\00003105}}
.reg_btn:hover {
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/register\.less}line{font-family:\00003108}}
.forget_password {
  color: #333;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/register\.less}line{font-family:\00003111}}
.forget_password:hover {
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/register\.less}line{font-family:\00003114}}
.register_btn {
  width: 400px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  text-align: center;
  display: block;
  margin: 0 auto;
  background: #8c5f02;
  border-radius: 5px;
  color: #FFF;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/register\.less}line{font-family:\00003127}}
.other_way {
  width: 400px;
  height: auto;
  margin-top: 40px;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/register\.less}line{font-family:\00003133}}
.other_way_left {
  width: 180px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/register\.less}line{font-family:\00003140}}
.other_way_right {
  width: 220px;
  height: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/register\.less}line{font-family:\00003144}}
.other_way_right a {
  display: block;
  width: 120px;
  text-align: center;
  border-radius: 5px;
  background: #FFF;
  color: #cc3333;
  height: 28px;
  line-height: 28px;
  margin: 5px 0;
  font-size: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/register\.less}line{font-family:\00003156}}
.title {
  width: auto;
  height: auto;
  text-align: center;
  font-size: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/register\.less}line{font-family:\00003162}}
.list {
  width: 202px;
  height: auto;
  margin: 0 auto;
  margin-top: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/register\.less}line{font-family:\00003168}}
.list li {
  width: 51px;
  height: 42px;
  margin: 0 25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/register\.less}line{font-family:\00003173}}
.weibo {
  width: 51px;
  height: 42px;
  background: url(/login_01.png);
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/register\.less}line{font-family:\00003179}}
.qq {
  width: 51px;
  height: 42px;
  background: url(/login_02.png);
  display: block;
}
