@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/setting\.less}line{font-family:\0000311}}
body {
  background-image: url(/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/setting\.less}line{font-family:\0000317}}
.wrap {
  width: 900px;
  height: auto;
  position: relative;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.7);
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/setting\.less}line{font-family:\0000324}}
.wrap_password {
  width: 400px;
  height: auto;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/setting\.less}line{font-family:\0000329}}
.change_password_title {
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 24px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/setting\.less}line{font-family:\0000336}}
.change_row {
  width: 400px;
  height: 80px;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/setting\.less}line{font-family:\0000341}}
.change_row_contL {
  width: 100px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/setting\.less}line{font-family:\0000347}}
.change_row_cotnR {
  width: 300px;
  height: 80px;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/setting\.less}line{font-family:\0000352}}
.present_input {
  width: 274px;
  height: 20px;
  font-size: 18px;
  line-height: 20px;
  padding: 9px 12px;
  border: 1px solid #333;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/setting\.less}line{font-family:\0000360}}
.newPsw_input {
  width: 274px;
  height: 20px;
  font-size: 18px;
  line-height: 20px;
  padding: 9px 12px;
  border: 1px solid #333;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/setting\.less}line{font-family:\0000368}}
.change_error {
  width: 300px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #cc3333;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/setting\.less}line{font-family:\0000375}}
.change_password_btn {
  width: 120px;
  height: 40px;
  line-height: 40px;
  display: block;
  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
  background: #8c5f02;
  color: #FFF;
  font-size: 16px;
  transition: 0.8s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/setting\.less}line{font-family:\0000388}}
.change_password_btn:hover {
  background: rgba(140, 95, 2, 0.8);
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/setting\.less}line{font-family:\0000391}}
.wrap_checkbox {
  width: 480px;
  height: auto;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/setting\.less}line{font-family:\0000396}}
.change_checkbox_title {
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 24px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/setting\.less}line{font-family:\00003103}}
.change_checkbox {
  display: block;
  width: 480px;
  height: 120px;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/setting\.less}line{font-family:\00003109}}
.change_checkbox li {
  width: auto;
  height: auto;
  margin: 0 20px 15px 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/setting\.less}line{font-family:\00003114}}
.change_checkbox input {
  width: 16px;
  height: 16px;
  position: relative;
  top: 2px;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/setting\.less}line{font-family:\00003121}}
.change_checkbox img {
  width: 21px;
  height: 21px;
  position: relative;
  top: 5px;
  margin-left: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/setting\.less}line{font-family:\00003128}}
.change_checkbox label {
  font-size: 16px;
  margin-left: 5px;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/setting\.less}line{font-family:\00003133}}
.change_checkbox_error {
  width: 408px;
  height: 20px;
  font-size: 16px;
  color: #cc3333;
  margin: 0 auto;
  margin-bottom: 19px;
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/setting\.less}line{font-family:\00003142}}
.change_checkbox_btn {
  width: 120px;
  height: 40px;
  line-height: 40px;
  display: block;
  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
  background: #8c5f02;
  color: #FFF;
  font-size: 16px;
  transition: 0.8s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lenovo\/Desktop\/enjoyread\/enjoyread\/static\/css\/setting\.less}line{font-family:\00003155}}
.change_checkbox_btn:hover {
  background: rgba(140, 95, 2, 0.8);
}
