body {
	background-image: url(/bg1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}


.wrap {
	width:900px;
	min-height:600px ;
	position: relative;
	margin: 0 auto;
}
.div1 {
	width:420px;
	height: 280px;
	background: #FFF;
	position:absolute; 
	top:150px;
	left: 0;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
	opacity: 0.3;
	z-index: 1;
	// background: rgba(255, 255, 255, 0.9);
}
.div2 {
	width:600px;
	height: 400px;
	position:absolute; 
	background: #FFF;
	top: 100px;
	left: 150px;
	z-index: 2;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
	// background: rgba(255, 255, 255, 0.9);
	opacity: 1;
}
.div3 {
	width:420px;
	height: 280px;
	background: #FFF;
	position:absolute; 
	top: 150px;
	left: 480px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
	opacity: 0.3;
	z-index: 1;
	// background: rgba(255, 255, 255, 0.9);
}
.left{
	display: block;
	width:150px;
	height: 280px;
	position: absolute;
	top: 150px;
	left: 0;
	z-index: 2;
	cursor: pointer;
}
.right{
	display: block;
	width:150px;
	height: 280px;
	position: absolute;
	top: 150px;
	right: 0;
	z-index: 2;
	cursor: pointer;
}
